[submodule "vendor/github.com/ctrlpvim/ctrlp.vim"]
	path = vendor/github.com/ctrlpvim/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vendor/github.com/neomake/neomake"]
	path = vendor/github.com/neomake/neomake
	url = https://github.com/neomake/neomake.git
[submodule "vendor/github.com/scrooloose/nerdcommenter"]
	path = vendor/github.com/scrooloose/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vendor/github.com/majutsushi/tagbar"]
	path = vendor/github.com/majutsushi/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vendor/github.com/vim-airline/vim-airline"]
	path = vendor/github.com/vim-airline/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vendor/github.com/scrooloose/nerdtree"]
	path = vendor/github.com/scrooloose/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vendor/github.com/airblade/vim-gitgutter"]
	path = vendor/github.com/airblade/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vendor/github.com/sheerun/vim-polyglot"]
	path = vendor/github.com/sheerun/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vendor/github.com/tpope/vim-sensible"]
	path = vendor/github.com/tpope/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vendor/github.com/tpope/vim-sleuth"]
	path = vendor/github.com/tpope/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vendor/github.com/mhinz/vim-signify"]
	path = vendor/github.com/mhinz/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vendor/github.com/vim-syntastic/syntastic"]
	path = vendor/github.com/vim-syntastic/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vendor/github.com/vim-pandoc/vim-pandoc"]
	path = vendor/github.com/vim-pandoc/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vendor/github.com/vim-pandoc/vim-pandoc-syntax"]
	path = vendor/github.com/vim-pandoc/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "vendor/github.com/w0rp/ale"]
	path = vendor/github.com/w0rp/ale
	url = https://github.com/w0rp/ale.git
[submodule "vendor/github.com/mileszs/ack.vim"]
	path = vendor/github.com/mileszs/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vendor/github.com/junegunn/fzf.vim"]
	path = vendor/github.com/junegunn/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vendor/github.com/tlhr/anderson.vim"]
	path = vendor/github.com/tlhr/anderson.vim
	url = https://github.com/tlhr/anderson.vim
[submodule "vendor/github.com/Raimondi/delimitMate"]
	path = vendor/github.com/Raimondi/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vendor/github.com/carlhuda/janus"]
	path = vendor/github.com/carlhuda/janus
	url = https://github.com/carlhuda/janus.git
	ignore = dirty
[submodule "vendor/github.com/ekalinin/Dockerfile.vim"]
	path = vendor/github.com/ekalinin/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vendor/github.com/fatih/vim-go"]
	path = vendor/github.com/fatih/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vendor/github.com/w0ng/vim-hybrid"]
	path = vendor/github.com/w0ng/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "vendor/github.com/kana/vim-textobj-user"]
	path = vendor/github.com/kana/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
	ignore = dirty
[submodule "vendor/github.com/kana/vim-textobj-line"]
	path = vendor/github.com/kana/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line
[submodule "vendor/github.com/qpkorr/vim-bufkill"]
	path = vendor/github.com/qpkorr/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "vendor/github.com/vim-ctrlspace/vim-ctrlspace"]
	path = vendor/github.com/vim-ctrlspace/vim-ctrlspace
	url = https://github.com/vim-ctrlspace/vim-ctrlspace.git
[submodule "vendor/github.com/vim-scripts/eclm_wombat.vim"]
	path = vendor/github.com/vim-scripts/eclm_wombat.vim
	url = https://github.com/vim-scripts/eclm_wombat.vim.git
[submodule "vendor/github.com/ryanoasis/vim-devicons"]
	path = vendor/github.com/ryanoasis/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vendor/github.com/fxn/vim-monochrome"]
	path = vendor/github.com/fxn/vim-monochrome
	url = https://github.com/fxn/vim-monochrome.git
[submodule "vendor/github.com/alphabetum/dracula-theme-vim"]
	path = vendor/github.com/alphabetum/dracula-theme-vim
	url = https://github.com/alphabetum/dracula-theme-vim.git
	branch = alternative-colors
[submodule "vendor/github.com/alphabetum/seti.vim"]
	path = vendor/github.com/alphabetum/seti.vim
	url = https://github.com/alphabetum/seti.vim.git
[submodule "vendor/github.com/alphabetum/vim-vwilight"]
	path = vendor/github.com/alphabetum/vim-vwilight
	url = https://github.com/alphabetum/vim-vwilight.git
[submodule "vendor/github.com/sbdchd/neoformat"]
	path = vendor/github.com/sbdchd/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "vendor/github.com/prettier/vim-prettier"]
	path = vendor/github.com/prettier/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
	ignore = dirty
[submodule "vendor/github.com/elzr/vim-json"]
	path = vendor/github.com/elzr/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vendor/github.com/ervandew/supertab"]
	path = vendor/github.com/ervandew/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vendor/github.com/junegunn/goyo.vim"]
	path = vendor/github.com/junegunn/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vendor/github.com/Xuyuanp/nerdtree-git-plugin"]
	path = vendor/github.com/Xuyuanp/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vendor/github.com/connorholyday/vim-snazzy"]
	path = vendor/github.com/connorholyday/vim-snazzy
	url = https://github.com/connorholyday/vim-snazzy.git
[submodule "vendor/github.com/jceb/vim-orgmode"]
	path = vendor/github.com/jceb/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vendor/github.com/tpope/vim-speeddating"]
	path = vendor/github.com/tpope/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vendor/github.com/ashisha/image.vim"]
	path = vendor/github.com/ashisha/image.vim
	url = https://github.com/ashisha/image.vim.git
[submodule "vendor/github.com/mattn/emmet-vim"]
	path = vendor/github.com/mattn/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vendor/github.com/skywind3000/asyncrun.vim"]
	path = vendor/github.com/skywind3000/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "vendor/github.com/Shougo/denite.nvim"]
	path = vendor/github.com/Shougo/denite.nvim
	url = https://github.com/Shougo/denite.nvim.git
[submodule "vendor/github.com/mhinz/vim-startify"]
	path = vendor/github.com/mhinz/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vendor/github.com/dyng/ctrlsf.vim"]
	path = vendor/github.com/dyng/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
[submodule "vendor/github.com/ycm-core/YouCompleteMe"]
	path = vendor/github.com/ycm-core/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vendor/github.com/psf/black"]
	path = vendor/github.com/psf/black
	url = https://github.com/psf/black.git
[submodule "vendor/github.com/aliou/bats.vim"]
	path = vendor/github.com/aliou/bats.vim
	url = https://github.com/aliou/bats.vim
[submodule "vendor/github.com/ajh17/VimCompletesMe"]
	path = vendor/github.com/ajh17/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule "vendor/github.com/Shougo/deoplete.nvim"]
	path = vendor/github.com/Shougo/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vendor/github.com/ap/vim-css-color"]
	path = vendor/github.com/ap/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "vendor/github.com/tpope/vim-endwise"]
	path = vendor/github.com/tpope/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
