# Ignore temp vim files.
_backup/*
!_backup/.keep
_temp/*
!_temp/.keep
.netrwhist

# vim-plug
#
# Ignore plugins installed with vim-plug.
#
# https://github.com/junegunn/vim-plug
vim-plug-plugins/*
!vim-plug-plugins/.keep

